body {
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 105px;
}
.header {
    vertical-align: center;
}
.nav-button {
    font-size: 56px;
    padding-left: 17px;
    padding-right: 17px;
}
.nav-line {
    width:135px;
}