  :root {
    --background-color: rgb(255, 255, 250);
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    background-color: var(--background-color);
}
.title {
    font-size: 75px;
    text-align: center;
    display:inline;
}
.header {
    display: block;
    text-align: center;
}
.title:hover {
    color: gray;
    cursor: pointer;
}
.navigation {
    text-align: center;
}
.nav-button {
    display: inline-block;
    font-size: 40px;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-button:hover {
    color: gray;
    cursor: pointer;
}
.nav-line {
    width:95px;
    display: inline-block;
}

@media (max-width: 665px) {
  hr.nav-line {
      display: block !important;
      width: 300px;
  }
}