.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2ex;
}
.header {
    font-size: 4ex;
    color: blue;
}

.topbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.topbarbutton {
    background-color: inherit;
    float: left;
    /*I'll get the borders between buttons working later*/
    /* border: 1px soid #fff;
    border-top: none;
    border-bottom: none; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.2s;

    font-size: 2ex
}
.topbar button:hover {
    background-color: #ddd;
}


