#head-shot {
    float: left;
    padding-right: 20px;
    height: auto;
    max-width: 400px;
}
.content {
    margin: auto;
    max-width: 775px;
}

@media (max-width: 780px) {
    #head-shot {
        float: none;
        margin: auto;
        padding: none;
        margin-bottom: 1em;
        display: block;
        max-width: 75%;
    }
    .content {
        text-align: justify;
        max-width: 75%;
    }
}