.music-piece {
    font-size: 14pt;
    padding-top: 22px;
    width: 1050px;
    margin: auto;
}

.music-title {
    font-size: 22pt;
}

.music-video {
    margin-left: 2em;
}

.music-video > iframe {
    width: 100%;
    float: right;
    display: block;
    border: 0px;
}

.music-piece > div {
    padding-bottom: 1em;
    float: left;
    height: 300px;
    width: 45%;
    display: block;
}

.music-content > div {
    padding-left: 1em;
}
  
@media (max-width: 1100px) {
    .music-piece {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .music-piece > div {
        float: none;
        width: 100%;
    }
    .music-video {
        width: 512px;
        margin: auto;
    }
}